body {
    background-image: url("");
    background-repeat: no-repeat;
    background-position: left top;
    margin-right: 400px;
    background-attachment: fixed;
    
}

h1 {padding-left: 250px;
    position: relative;
    color: aqua;
    text-align: center;
    text-decoration-color: bisque;
    font-weight: 200;
}

p { text-align: center;
    font-family: verdana;
    font-size: 20px;
}

#content {
  
    height :500px;
    width: 75%;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 250px;
    background-color: gold;
    padding: 25px;
    overflow: scroll;
    color: black;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
    
      
ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}

    input[type=text]{
        width: 33%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;

    }